/* General styling */
body {
    font-family: "Cal Sans", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #fafafa;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

/* Header and navigation styling */
.header {
    background-color: #7528f1;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.header .heading-1 {
    margin: 0;
    font-size: 2.5em;
}

.nav .list {
    list-style: none;
    padding: 0;
}

.nav .list .menuItem {
    display: inline;
    margin: 0 15px;
}

.nav .list .menuItem a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
}

.nav .list .menuItem a:hover {
    text-decoration: underline;
}

/* Main content styling */
.content {
    display: flex;
    margin: 20px 0;
    flex: 3;
    margin-right: 20px;
}

.heading-2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #686868;
}

.paragraph {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #686868;
}

/* Article styling */
.article .heading-3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #686868;
}

.article .paragraph {
    margin-bottom: 15px;
    color: #686868;
}

/* Footer styling */
.footer {
    background-color: #7528f1;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .paragraph {
    margin: 0;
    font-size: 1em;
}